.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card:hover {
  box-shadow: 5px 5px #c9c2c2;
}

.Rata {
  margin: 20px;
}

.kanan {
  color: red;
  text-align: right;
}
