.App {
  text-align: center;
}
.logo {
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: white;
}
.Button {
  background: blue;
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
